# Go build artifacts
/bin/
/pkg/
*.exe
*.out
*.test

# SQLite database & migrations
backend/data/taskmanager.db
backend/migrations/
migrate

# Go modules
backend/go.sum

# Node.js dependencies (for frontend)
frontend/node_modules/
frontend/build/

# Misc
.env
bin